html {
  font-family: Lora, serif;
}

.banner {
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0) 70%, rgba(16, 52, 41, .8) 100%), url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-color: #588477;
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-size: 50px auto;
  background-repeat: repeat;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #2d5a4d;
  border-radius: 8px;
  background-color: #467366;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
}

.banner-content {
  padding-top: 180px;
  background-size: 100px;
  background-repeat: no-repeat;
}

div p {
  background: no-repeat url("../images/two-leaves.svg");
  background-size: 100px;
  padding-top: 4.7em;
}

.logo,
.nav {
  text-align: center;
}

@media only screen and (min-width: 38em) {

  .logo,
  .nav {
    text-align: center;
  }

  .banner-content {
    padding-top: 10em;
  }

  div p {
    padding-top: 3em;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    text-align: left;
    padding-bottom: .7em;
  }

  .banner-content {
    padding-top: 9.6em;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  div p {
    padding-top: 2.6em;
  }

}

@media only screen and (min-width: 90em) {

  .masthead {
    text-align: left;
  }

  .banner-content {
    padding-top: 8.9em;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  div p {
    padding-top: 2.3em;
  }

}
